body {
    background-image: url('img/Corações\ pequenos\ varios.gif');
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: black;
    border-radius: 6px;
    background-color: white;
    font-size: 50px;
    margin-bottom: 20px;
}

button {

    font-size: 40px;
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 20px 30px;
    font-size: 50px;
    cursor: pointer;
}
